        html,
        body {
            height: 100%;
            margin: 0;
            font-size: large;
        }
        
        .container {
            height: 100%;
            padding: 0%;
            box-sizing: border-box;
        }
        
        * {
            box-sizing: border-box;
        }
        
        div.title {
            height: 4vh;
            display: flex;
            flex-direction: row;
            background-color: green;
            align-items: center;
            justify-content: center;
            color: azure;
        }
        
        .menu-bar {
            display: flex;
            height: 3vh;
            background-color: green;
            align-items: center;
            color: azure;
        }
        
        .menu-bar-item {
            margin-left: 1%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .options {
            display: flex;
            height: 4vh;
            background-color: rgb(255, 255, 255);
            align-items: center;
        }
        
        .options-item {
            margin-left: 1%;
            height: 60%;
            display: flex;
        }
        
        .options-item-drop-down {
            margin-left: 1%;
            height: 60%;
            display: flex;
            width: 5%;
        }
        
        .formula-bar {
            height: 3vh;
            background-color: rgb(237, 237, 237);
            display: flex;
            align-items: center;
        }
        
        .formula-bar-field {
            margin-left: 10px;
            height: 80%;
            display: flex;
            width: 15%;
        }
        
        .formula-bar-field-2 {
            height: 80%;
            display: flex;
            width: 100%;
            margin-right: 10px;
        }
        
        .fx {
            margin-left: 10px;
            margin-right: 10px;
        }
        
        .sheet {
            height: 83vh;
            display: flex;
            width: 100vw;
            flex-wrap: wrap;
        }
        /* .row-id-cell-header {
    height: 5%;
    padding: 0;
    margin: 0;
    border-color:
} */
        
        .row-id-bar {
            height: 81vh;
            border: 1px solid rgb(13, 12, 12);
            width: 1vw;
        }
        /* .row-id-cell {
    font-size: medium;
    border-style: solid;
    padding: 10px;
    margin: 0;
    border-width: 1px;
    border-color: azure;
    height: 5%;
    width: fit-content;
} */
        
        .select-all {
            display: flex;
            height: 2vh;
            width: 1vw;
            border-left: 1px solid rgb(8, 8, 8);
            border-top: 1px solid rgb(8, 8, 8);
        }
        
        .column-id-bar {
            border: 1px solid rgb(8, 8, 8);
            height: 2vh;
            width: 99vw;
            align-self: center;
        }
        
        .input-cell-container {
            height: 81vh;
            border-right: 1px solid rgb(8, 8, 8);
            border-bottom: 1px solid rgb(8, 8, 8);
            width: 99vw;
        }
        /* .column-id-cell {
    box-sizing: border-box;
    font-size: medium;
    border-style: solid;
    padding: 6px;
    margin: 0;
    border-width: 1px;
    border-color: azure;
    height: 100%;
    width: 100%;
    align-items: center;
} */
        
        .foot-bar {
            height: 3vh;
            display: flex;
            align-items: center;
        }
        
        .icon-left-scroll,
        .icon-right-scroll {
            font-size: 30px;
            margin-left: 10px;
        }
        
        .icon-left-scroll:hover,
        .icon-right-scroll:hover {
            background-color: lightgray;
            cursor: pointer;
        }
        
        .icon-add:hover {
            background-color: lightgray;
            cursor: pointer;
        }
        
        .icon-add {
            color: rgb(25, 152, 25);
            margin-left: 10px;
        }
        
        .sheet-tab {
            border-bottom: 4px green solid;
            margin-left: 10px;
            border-left: 1px solid;
            border-top: 1px solid;
            border-right: 1px solid;
            font-weight: bold;
        }
        
        .sheet-tab-container {
            width: 100%;
            padding: 1px;
        }